@font-face {
    font-family: "lato-regular";
    src: url("fonts/Lato-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}



body {
    font-family: sans-serif;
    font-size: 0.9em;
}


.breadcumb {
    display: flex;
    width: fit-content;
    margin: 0 auto 10px auto;
    color: #474747;
}

.breadcumb-item:first-child {
    margin-right: 5px;
}

.breadcumb-item {
    padding: 5px 15px;
    border-radius: 40px;
}

.breadcumb-item a {
    display: block;
    color: #474747;
}

.breadcumb-item:hover:not(.breadcumb-active-item) {
    background-color: #e4c5ca;
    color: black;
}

.breadcumb-active-item, .breadcumb-active-item a {
    background-color: #931a2e;
    color: #f5f5f5;
}

/***********
inputs
***************/

.input-gray {
    background: #e1e1e1;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    color: #878787;
    box-sizing: border-box;
    padding: 5px 10px;
    height: 30px;
}

.input-gray:not(:last-child) {
    margin-bottom: 10px;
}



/***********
 buttons
*************/

.btn {
   height: 30px;
   padding: 0 15px;
   border: none;
   border-radius: 4px;
}

.btn-primary {
    background-color: #931a2e;
    color: #f5f5f5;
}